@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;400;500;700&display=swap');


html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #00d5fa;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */